@font-face {
	font-family: Circe;
	font-display: swap;
	src: url("../fonts/Circe-Bold.woff2") format("woff2"), url("../fonts/Circe-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Circe;
	font-display: swap;
	src: url("../fonts/Circe-Regular.woff2") format("woff2"), url("../fonts/Circe-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Circe;
	font-display: swap;
	src: url("../fonts/Circe-Light.woff2") format("woff2"), url("../fonts/Circe-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: verahumana95;
	font-display: swap;
	src: url("../fonts/verahumana95-regular.woff2") format("woff2"), url("../fonts/verahumana95-regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
