// Заголовки, общие БЄМ блоки и проче...

%ff-vera {
	font-family: verahumana95;
}

//========================================================================================================================================================

%h1 {
	font-family: verahumana95;
	font-size: rem(110);
	line-height: 1.8;
	text-transform: uppercase;
}
%h2 {
	font-family: verahumana95;
	font-size: rem(52);
	line-height: 1.8;
	text-transform: uppercase;
}
%h3 {
	font-family: verahumana95;
	font-size: rem(18);
	line-height: 1.8;
	text-transform: uppercase;
}
