//====================================================================================================
.page {
	// .page__mainpage
	&__mainpage {
		position: relative;
		@media (min-width: $mobile) {
			&::before {
				content: "";
				position: absolute;
				width: 50%;
				height: 100%;
				right: 0;
				top: 0;
				background: url("@img/mainpage/woman-main.jpg") center / cover no-repeat;
			}
		}
	}
	// .page__services
	&__services {
		@include adaptiveValue("padding-top", 75, 30);
		@include adaptiveValue("padding-bottom", 75, 30);
	}
}
//========================================================================================================================================================

.mainpage {
	// .mainpage__container
	&__container {
		position: relative;
		z-index: 1;
		display: flex;
		flex-direction: column;
	}

	// .mainpage__inner
	&__inner {
		@include adaptiveValue("padding-top", 110, 75);
		@include adaptiveValue("padding-bottom", 40, 15);
		// padding-bottom: rem(40);
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		// position: relative;
		// z-index: 2;
	}

	// .mainpage__body
	&__body {
		flex: 1 1 auto;
		display: flex;
		align-items: center;
		&:not(:last-child) {
			margin-bottom: rem(20);
		}
	}
	// .mainpage__info
	&__info {
		@include adaptiveValue("row-gap", 35, 15);
		display: flex;
		flex-direction: column;
		@media (min-width: $mobile) {
			max-width: rem(740);
		}
		@media (min-width: $mobileSmall) {
			padding-left: percent(135, 1400);
		}
	}
	// .mainpage__social
	&__social {
		@extend %ff-vera;
		font-size: rem(20);
		text-transform: uppercase;
		display: flex;
		gap: rem(35);
		position: absolute;
		@media (min-width: $mobileSmall) {
			flex-direction: column;
			top: 50%;
			left: rem(15);
			transform: translate(0%, -50%);
		}
		@media (max-width: $mobileSmall) {
			bottom: rem(40);
			left: 50%;
			transform: translate(-50%, 0%);
		}
	}
	// .mainpage__footer
	&__footer {
		display: flex;
		flex-wrap: wrap;
		gap: rem(20);
	}
	// .mainpage__street
	&__street {
	}
	// .mainpage__phone
	&__phone {
	}
	// .mainpage__image-ibg
	&__image-ibg {
		display: none;
		@media (max-width: $mobile) {
			display: block;
			padding-bottom: percent(593, 744);
		}
	}
}
.info-mainpage {
	// .info-mainpage__subtitle
	&__subtitle {
		line-height: 1.6;
		opacity: 0.6;
		padding-left: percent(37, 740);
		position: relative;
		&::before {
			content: "";
			position: absolute;
			width: 3.5%;
			height: 1px;
			top: em(10, 16);
			left: 0;
			background-color: rgba(255, 255, 255, 0.6);
		}
	}
	// .info-mainpage__title
	&__title {
		@extend %ff-vera;
		text-transform: uppercase;
		@media (min-width: $mobile) {
			@include adaptiveValue("font-size", 110, 90, 1400, 767, 1);
		}
		@media (max-width: $mobile) {
			@include adaptiveValue("font-size", 90, 40, 767, 320);
		}
	}
	// .info-mainpage__text
	&__text {
		font-size: rem(20);
		line-height: 1.6;
		opacity: 0.8;
		@media (min-width: $mobile) {
			max-width: rem(440);
		}
	}
	// .info-mainpage__buttons
	&__buttons {
		display: flex;
		flex-wrap: wrap;
		gap: rem(20);
	}
	// .info-mainpage__button
	&__button {
		@media (max-width: $mobileSmall) {
			width: 100%;
		}
	}
}
.social {
	// .social__item
	&__item {
	}
	// .social__item-link
	&__item-link {
		// .social__item-link_intagram
		&_intagram {
		}
		// .social__item-link_vk
		&_vk {
		}
		// .social__item-link_facebook
		&_facebook {
		}
	}
}

//====================================================================================================

.services-module {
	// .services-module__container
	&__container {
	}
	// .services-module__title
	&__title {
		@extend %ff-vera;
		@include adaptiveValue("font-size", 52, 36);
		line-height: 120%;
		text-transform: uppercase;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 50, 25);
		}
	}
	// .services-module__body
	&__body {
		display: grid;
		@include adaptiveValue("gap", 40, 20, 1400, 767, 1);
		@media (min-width: $mobile) {
			grid-template-columns: 1fr percent(460, 1400);
		}
	}
	// .services-module__tabs
	&__tabs {
	}
	// .services-module__images-ibg
	&__images {
		@media (max-width: $mobile) {
			padding-bottom: percent(489, 714);
			position: relative;
			img {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				object-fit: cover;
			}
		}
		img {
			max-width: 100%;
		}
	}
}
.tabs-services {
	display: grid;
	@include adaptiveValue("gap", 40, 20, 1400, 767, 1);
	@media (min-width: $mobile) {
		grid-template-columns: 1fr auto;
	}
	// .tabs-services__navigation
	&__navigation {
		display: flex;
		flex-direction: column;
		row-gap: rem(40);
		&:not(:last-child) {
			// margin-bottom: rem(20);
		}
	}
	// .tabs-services__title
	&__title {
		display: block;
		width: 100%;
		row-gap: rem(40);
		position: relative;
		padding-right: rem(40);
		@extend %ff-vera;
		font-size: rem(18);
		text-align: left;
		text-transform: uppercase;
		cursor: pointer;
		&::before {
			content: "";
			position: absolute;
			right: 0;
			top: rem(4);
			width: rem(16);
			height: rem(16);
			background: url("@img/icons/close.svg") 0 0 no-repeat;
			transition: all 0.5s ease 0s;
			@media (max-width: $mobile) {
				top: rem(20);
				right: rem(15);
			}
		}
		@media (max-width: $mobile) {
			border: 1px solid rgba(255, 255, 255, 0.6);
			padding: rem(16) rem(40) rem(15) rem(20);
		}
		&._tab-active {
			&::before {
				content: "";
				transform: rotate(-45deg);
			}
		}
	}
	// .tabs-services__content
	&__content {
	}
	// .tabs-services__body
	&__body {
		@media (max-width: $mobile) {
			padding-top: rem(40);
			padding-bottom: rem(40);
		}
	}
}
.body-tab-services {
	// .body-tab-services__title
	&__title {
		@extend %ff-vera;
		font-size: rem(18);
		text-transform: uppercase;
		opacity: 0.7;
		&:not(:last-child) {
			margin-bottom: em(20, 18);
		}
	}
	// .body-tab-services__text
	&__text {
		opacity: 0.6;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 60, 25);
		}
	}
	// .body-tab-services__body
	&__body {
		display: flex;
		flex-direction: column;
		row-gap: rem(26);
		&:not(:last-child) {
			margin-bottom: rem(50);
		}
	}
	// .body-tab-services__line
	&__line {
		display: flex;
		justify-content: space-between;
		column-gap: rem(10);
		border-bottom: 1px solid rgba(114, 114, 114, 0.4);
		padding-bottom: rem(9);
	}
	// .body-tab-services__info
	&__info {
		// flex: 1 1 auto;
		font-size: rem(18);
	}
	// .body-tab-services__price
	&__price {
		white-space: nowrap;
	}
	// .body-tab-services__buttons
	&__buttons {
		display: flex;
		flex-wrap: wrap;
		gap: rem(20);
	}
	// .body-tab-services__button
	&__button {
		@media (max-width: $mobile) {
			width: 100%;
		}
	}
}
